ps4rpdConfig.txt
bin/
obj/
.vs/
*.user
*.log
dist/
*.suo
*.cache
*.pdb
packages/
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.vspscc
*.vssscc
*.psess
*.vsp
*.vspx
*.sap